<h1>Main Menu</h1>
<ul>
  <li><%= link_to "New game", new_path %></li>
  <li><%= link_to "Settings", new_path %></li>
  <li><%= link_to "Exit", new_path %></li>
</ul>

<!-- shortcut to create a ruby code: pe => <%=  %> -->
